@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}

.app {
  display: grid;
  grid-template-areas:
    "header header"
    "nav main";
  grid-template-rows: 5rem 1fr;
}

.open {
  grid-template-columns: 16rem 1fr;
}

.close {
  grid-template-columns: 5rem 1fr;
}
